/* index & overall */

a,
.sec-contact .btn {
  transition: all 0.25s;
}

html {
  font-size: 16px;
}

body {
  font-family: 'PT serif', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 1.5rem;
}

.navbar .fa-external-link {
  font-size: 0.8rem;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5625rem;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

section {
  padding: 5rem 0;
}

footer {
  padding: 3rem 0;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

hr {
  margin-bottom: 3rem;
  width: 7%;
}

.navbar-default {
  background: #e4f9f5;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c7d5e0;
}

.navbar-default .navbar-nav > li > a:active {
  color: #c7d5e0;
}

.sec-main {
  position: relative;
  height: 35rem;
  background: url(https://i.ibb.co/ynXwYF3/image5.png) center center no-repeat;
  background-size: cover;
}

.sec-main:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #ffffff;
}

.sec-services,
.about-2 {
  background: #e4f9f5;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 2.8125rem;
}

.sec-services .fa-paint-brush {
  width: 4rem;
}

.sec-services .fa-code {
  width: 68px;
}

.sec-services h2 {
  margin: 4.25rem 0;
}

footer {
  background: #e4f9f5;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em 0.65rem;
  font-size: 1rem;
  color: #11999e;
  border-radius: 50%;
  border: solid 2px;
}

.soc-media-ul a:hover,
.soc-media-ul a:focus {
  color: #40514e;
}


/* flip cards */


.container {
  margin: 0 auto;
}

.card {
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
  padding: 1rem;
  perspective: 31.25rem;

}

.showcases {
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card h1 {
  line-height: 17rem;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #e4f9f5;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #11999e;
  color: white;
  transform: rotateY(180deg);
}


/* contact */

.resume_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resume {
  margin: 0 auto;
  padding: 0;
  background-color: #e4f9f5;
}

#download {
  text-align: center;
}

.resume_cont div {
  margin: 2rem;
  width: 17rem;
  justify-content: center;
  background-color: #11999e;
  border-radius: 0.7rem;
  box-shadow: 0.6rem 0.6rem 0.3rem #888888;
  color: white;
}

.download p {
  font-size: 150%;
  padding: 2rem;
}

.resume_cont li {
  padding: 0.3rem;
  margin: 0 1rem;
}

.resume_cont p {
  font-size: 150%;
  margin: 0 1rem;
  padding: 0.3rem;
}

.resume_cont h1 {
  text-align: center;
  margin-top: 4rem;
  ;
}

/* Resume */
